body {
	font-family: Arial, sans-serif;
}

#fileInput {
	margin-bottom: 10px;
}

#sendButton {
	background-color: #4CAF50;
	color: #fff;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

#sendButton:hover {
	background-color: #3e8e41;
}

